<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treasured Chest</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h2 class="treasuredChest">Treasured Chest</h2>
    <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
        <img src="https://www.figma.com/design/wdnuRfQfdcPV2OJWETAo21/LaunchCode?node-id=11-72&t=TYpwYDGeACXAqDn7-4"
             alt="Treasure chest logo"/>
        <img src="" alt="Profile pic"/>
    </nav>

</header>
<div class="box-2a">
    <h2>We're glad you're here.</h2>
    <p>Sign up and get started for free!</p>
</div>
<div class="form-box create account">
    <h2>Create Your Account</h2>
    <form action="/register">
        <div class="input-box">
            <input type="text" required>
            <label>First Name</label>
        </div>
        <div class="input-box">
            <input type="text" required>
            <label>Last Name</label>
        </div>
        <div  class="input-box">
                   <span class="icon">
                       <ion-icon name="person-circle-outline">

                       </ion-icon></span>
            <input type="text" required>
            <label>Username</label>
        </div>
        <div class="input-box">
            <input type="text" required>
            <label>Email</label>
        </div>
        <div  class="input-box">
                   <span class="icon">
                       <ion-icon name="eye-off-outline" class="eye-icon">

                       </ion-icon></span>

            <input type ="password" id="registration-password" required>
            <label>Password</label>
        </div>
        <div class="remember-forgot">
            <label><input type="checkbox">I agree to the terms & conditions</label>
        </div>
        <button type="submit" class="btn">Register</button>
    </form>
        <div class="login-register">
            <p>Already have an account? <a href="#" class="login-link">Login</a></p>
        </div>
</div>
</body>
</html>