<!DOCTYPE html>
<html lang="en">
<head>
    <header>
        <h2 class="treasuredChest">Treasured Chest</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <a href="#" id="logout">Logout</a>
            <img src="https://www.figma.com/design/wdnuRfQfdcPV2OJWETAo21/LaunchCode?node-id=11-72&t=TYpwYDGeACXAqDn7-4"
                 alt="Treasure chest logo"/>
            <img src="" alt="Profile pic"/>
        </nav>

    </header>
</head>
<body>
<div>
    <h4>Request Access</h4>
</div>
<div>

</div>
</body>
</html>